<div ng-repeat='question in group.questions'>
  <div click-to-edit="question.data.text">{{question.data.text}}</div>
  <div ng-repeat='field in question.fields | orderBy: "+position"'>
    <div ng-include="'/partials/admin/includes/' + field.widget + '.html'"></div>
  </div>
  <button ng-hide="singleQuestionType(group)" type="button" class="btn btn-default" aria-label="Add Option" ng-click="addRadioOption(question)">
      Add Option <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
  </button>
</div>
