<table class='table-responsive table table-striped survey-table'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th ng-repeat='field in fields | orderBy: "+position"' editable-text="field.text" ng-click="editField()">
        <div click-to-edit="field.text">{{field.text}}</div>
        <button type="button" class="btn btn-default" aria-label="Remove" ng-click="removeTableColumn(fields, field, group)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat='question in group.questions'>
        <td>
          <button type="button" class="btn btn-default" aria-label="Remove" ng-click="removeTableQuestion(group, question)">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <input ng-model="question.data.question_id">
        </td>
        <td class='questionText'>
          <div click-to-edit="question.data.text">{{question.data.text}}</div>
        </td>
        <span>
        <td ng-repeat='field in fields | orderBy: "+position"'>
          <label class="label-block">
            <input type='radio' ng-model="answers[question.data.question_id]" value="{{field.value}}">
          </label>
        </td>
      </tr>
  </tbody>
</table>
<button type="button" class="btn btn-default" aria-label="Add Question" ng-click="addTableQuestion(fields, group)">
    Add Question <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-default" aria-label="Add Column" ng-click="addTableColumn(fields, group)">
    Add Column <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
