<div ng-show="editingSurvey">
  <survey-edit close="dismissEdit()" survey="surveyJSON"></survey-edit>
  <hr>
</div>
<table class="table admin-table table-bordered table-striped table-compact">
  <tr>
    <th>Survey
      <button type="button" class="btn btn-default pull-right" aria-label="Add Survey" ng-click="newSurvey()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="survey in surveys | orderBy: survey.name">
    <td>{{survey.name}}</td>
    <td><button type="button" class="btn btn-default" ng-click="showSurvey(survey)">Edit</button></td>
    <td><button type="button" class="btn btn-default" ng-click="deleteSurvey(survey)">Delete</button></td>
  </tr>
</table>
